{% extends 'base.html.twig' %}

{% block title %}TodoList!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row p-5">
			{% for todo in todos %}
				{% if app.user %}
					<div class="card me-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">To Do:
							</h5>
							<p class="card-text">{{ todo.description }}</p>
							<p class="card-text">
								<small>
									do by:
									{{ todo.dueDate|date('d-m-Y') }}
								</small>
							</p>


							<a class="btn btn-sm btn-warning" href="{{path('edit_todo', {id: todo.id})}}">Edit</a>
							<a class="btn btn-sm btn-danger" href="{{path('delete_todo', {id: todo.id})}}">Delete</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
