{% extends 'base.html.twig' %}

{% block title %}TodoList!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row p-5">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">To Do:
					</h5>
					<p class="card-text">{{ todo.description }}</p>

				</div>
			</div>
		</div>
	</div>


{% endblock %}
